<div class="full-black">
  <span *ngFor="let ad of adsList">    
    <img [ngStyle]="{'display':currentAd && ad.id === currentAd.id ? 'block' : 'none' }" *ngIf="ad.type === 1" src="{{ad.mediapath}}" alt="{{ad.adname}}">
    <video id="{{ad.id}}" [ngStyle]="{'display':currentAd && ad.id === currentAd.id ? 'block' : 'none' }" *ngIf="ad.type === 2" height="100%" width="100%" autoplay loop src="{{ad.mediapath}}">
      <p class="warning">Seu navegador não suporta vídeo HTML5.</p>
    </video>
  </span>
</div>