<app-my-page-title [heading]="heading" [icon]="icon" [routerLinkValue]="'/arealogada/anuncios/criar'">
</app-my-page-title>

<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Lista de anúncios</div>
  </div>
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Data da criação</th>
          <th class="text-center">Grupos</th>
          <th class="text-center">Locais</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Mime Type</th>
          <th class="text-center">Duração</th>
          <th class="text-center">Peso</th>
          <th class="text-center">Tags</th>
          <th class="text-center">Mídia</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ad of ads$">
          <td class="text-center"><a [routerLink]="['/arealogada/anuncios/editar', ad._id]">{{ad.adname}}</a></td>
          <td class="text-center">{{ad.createdDate | date : 'dd-MMM-yyyy'}}</td>
          <td class="text-center">
            {{ad.groups}}
          </td>
          <td class="text-center">
            {{ad.places}}
          </td>
          <td class="text-center">
            {{ad.type}}
          </td>
          <td class="text-center">
            {{ad.mimetype}}
          </td>
          <td class="text-center">
            {{ad.duration}} segundos
          </td>
          <td class="text-center">
            {{ad.weight}}
          </td>
          <td class="text-center">
            {{ad.tags}}
          </td>
          <td class="text-center">
            {{ad.mediapath}}
          </td>
          <td class="text-center">
            <div role="group" class="btn-group-sm btn-group">
              <button class="btn-shadow btn btn-primary"
                [routerLink]="['/arealogada/anuncios/editar', ad._id]">Editar</button>
              <button class="btn-shadow btn btn-primary" (click)="deleteAd(ad._id)">Excluir</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-block p-4 text-center card-footer">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [(page)]="page"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" (pageChange)="getAds($event)">
    </ngb-pagination>
  </div>
  <!--div class="d-block p-4 text-center card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
      <span class="mr-2 opacity-7">
        <i class="fa fa-cog fa-spin"></i>
      </span>
      <span class="mr-1">View Complete Report</span>
    </button>
  </div-->
</div>