<app-my-page-title [heading]="heading" [icon]="icon" [routerLinkValue]="'/arealogada/anuncios/criar'">
</app-my-page-title>

<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Lista de anúncios</div>
  </div>
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Data da criação</th>
          <th class="text-center">Grupos</th>
          <th class="text-center">Locais</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Mime Type</th>
          <th class="text-center">Duração</th>
          <th class="text-center">Peso</th>
          <!-- <th class="text-center">Tags</th> -->
          <th class="text-center">Mídia</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ad of ads$">
          <td class="text-center"><a [routerLink]="['/arealogada/anuncios/editar', ad._id]">{{ad.adname}}</a></td>
          <td class="text-center">{{ad.createdDate | date : 'dd-MMM-yyyy'}}</td>
          <td class="text-center">
              {{objectArrayToString(ad.groups, 'groupname')}}
          </td>
          <td class="text-center">
              {{objectArrayToString(ad.places, 'placename')}}
          </td>
          <td class="text-center">
            {{ad.type}}
          </td>
          <td class="text-center">
            {{ad.mimetype}}
          </td>
          <td class="text-center">
            {{ad.duration}} segundos
          </td>
          <td class="text-center">
            {{ad.weight}}
          </td>
          <!-- <td class="text-center">
            {{ad.tags}}
          </td> -->
          <td class="text-center">
            <ng-template #content6 let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Media</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img *ngIf="ad.type === 1" class="media-img" src="{{ad.mediapath}}" alt="{{ad.adname}}">
                <video *ngIf="ad.type === 2" height="100%" width="100%" autoplay loop muted>
                    <source src="{{ad.mediapath}}" type="{{ad.mimetype}}">
                    <p class="warning">Seu navegador não suporta vídeo HTML5.</p>
                  </video>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fechar</button>
              </div>
            </ng-template>
            <button type="button" class="btn btn-success" (click)="openLarge(content6)">Ver media</button>
          </td>
          <td class="text-center">
            <div role="group" class="btn-group-sm btn-group">
              <button class="btn-shadow btn btn-primary"
                [routerLink]="['/arealogada/anuncios/editar', ad._id]">Editar</button>
              <button class="btn-shadow btn btn-primary" (click)="deleteAd(ad._id)">Excluir</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-block p-4 text-center card-footer">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [(page)]="page"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" (pageChange)="getAds($event)">
    </ngb-pagination>
  </div>
</div>