<app-my-page-title [heading]="heading" [icon]="icon" [routerLinkValue]="'/arealogada/usuarios/criar'">
</app-my-page-title>

<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Lista de usuários</div>
  </div>
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Data da criação</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$">
          <td class="text-center"><a [routerLink]="['/arealogada/usuarios/editar', user._id]">{{user.username}}</a></td>
          <td class="text-center">{{user.createdDate | date : 'dd-MMM-yyyy'}}</td>
          <td class="text-center">
            <div role="group" class="btn-group-sm btn-group">
              <button class="btn-shadow btn btn-primary"
                [routerLink]="['/arealogada/usuarios/editar', user._id]">Editar</button>
              <button class="btn-shadow btn btn-primary" (click)="deleteUser(user._id)">Excluir</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-block p-4 text-center card-footer">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [(page)]="page"
      [pageSize]="limit" [rotate]="true" [boundaryLinks]="true" (pageChange)="getUsers($event)">
    </ngb-pagination>
  </div>
</div>