<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
  (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    MEDIA INDOOR
    <!--<div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
              [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>-->
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-header">Anúncios</div>
          <div class="vsm-item">
            <a routerLink="/arealogada/anuncios/listar" routerLinkActive="active-item" class="vsm-link">
              <i class="vsm-icon pe-7s-monitor"></i>
              <span class="vsm-title">Listar</span>
            </a>
          </div>
          <div class="vsm-item">
              <a routerLink="/arealogada/anuncios/criar" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon pe-7s-monitor"></i>
                <span class="vsm-title">Criar novo</span>
              </a>
            </div>
          <div class="vsm-header">Locais</div>
          <div class="vsm-item">
            <a routerLink="/arealogada/locais/listar" routerLinkActive="active-item" class="vsm-link">
              <i class="vsm-icon pe-7s-box2"></i>
              <span class="vsm-title">Listar</span>
            </a>
          </div>
          <div class="vsm-header">Grupos</div>
          <div class="vsm-item">
            <a routerLink="/arealogada/grupos/listar" routerLinkActive="active-item" class="vsm-link">
              <i class="vsm-icon pe-7s-network"></i>
              <span class="vsm-title">Listar</span>
            </a>
          </div>
          <div class="vsm-header">Usuários</div>
          <div class="vsm-item">
            <a routerLink="/arealogada/usuarios/listar" routerLinkActive="active-item" class="vsm-link">
              <i class="vsm-icon pe-7s-user"></i>
              <span class="vsm-title">Listar</span>
            </a>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>